/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
  /* margin:0; */
  /* padding:0; */
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
  width:200px;
}

header, section, h2, h3,p {
  /* border: 1px solid red; */
  display:flex;
  justify-content:center;
  align-items:center;
}

ul {
  width: 200px;
  margin: 1rem auto;
}
/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.hidden {
  display :none;
}