/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

#main {
  text-align:center;
  margin-bottom: 1rem;
}

header, .poof, h2, h3, p, img {
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

ul,img {
  width: 200px;
  margin: 1rem auto;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
.hidden {
  display :none;
}